.approved-requests {
    padding: 20px;
    background-color: white;
  }
  
  .approved-request {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .approved-request table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
  }
  
  .approved-request table, .approved-request th, .approved-request td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  .signature-section {
    display: flex;
    justify-content: space-between;
  }
  
  .signature-section img {
    max-width: 100px;
    height: auto;
  }
  
  /***********overlay************/
  .approved-request-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dim background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it is on top of other content */
  }