body{
  overflow-x: hidden;
}
.logistic-dashboard {
    display: flex;
    width: 100%;
    height:auto;
    background-color: rgb(237, 234, 234);

  }
  .content{
    height: auto;
    width: 83%; 
    left:16%;
    top: 10%;
    position: relative;
    
   
  }
  