.Navbar{
    display: flex;
    justify-content: space-around;
    padding: 1px;
    background-color: white;
    box-shadow: 0 1px 3px -2px black;
    height:4.5rem;
    position: fixed;
    width: 100%;
    top: 0;
}
.Navbar-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.Navbar-logo p{
    color:black;
    font-size: 38px;
    font-weight: 600;
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: black;
    font-size: 20px;
    font-weight: 400;
}
.navbar-menu li{
    cursor: pointer;
    
}

hr{
    border: none;
    background: red;
    height: 3px;
    margin-top: -1px;
}
.navbar-login button{
    width: 100px;
    height: 58;
    outline: none;
    border: 1px solid black;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 400;
    background-color: white;
    cursor: pointer;
    margin: -1rem 1rem 0 0;
}
.navbar-login button:active{
    background:whitesmoke;
}
.navbar-login img{
    margin-top: 1rem;
}
.cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
    margin-left:10rem;
    margin-top: -3.3rem;
    display: flex;
}